/*
#1B182E - Dark Blue
#554A56 - Grey
#7F557C - Purple
#A1B9C8 - Blue
#F1F1F1 - Light grey/white 
*/

/* Global Styles
------------------------------------------------*/
h1 {
  background-color: #554a56;
}

a {
  text-decoration: none;
}
#to-top {
  position: fixed;
  bottom: 4%;
  right: 2%;
  size: 300px 300px;
  color: #f1f1f1;
  border: 0;
  padding: 0 15px;
  line-height: 1.5;
  border-radius: 7.5px;
  color: #1b182e;
  font-size: 1.5em;
}
/* Header
------------------------------------------------*/
.menu-bar {
  background-color: #7f557c;
}

/* Projects
------------------------------------------------*/
#projects {
  background-color: #a1b9c8;
}

/* About
------------------------------------------------*/
#about {
  background-color: #554a56;
}

/* Contact
------------------------------------------------*/
footer {
  background-color: #1b182e;
}
